<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.framework.aquarius.mapper.DepartmentMapper">
    <select id="selectByFullPath" resultType="com.galaxy.framework.aquarius.entity.Department" parameterType="string">
        SELECT * FROM sys_department WHERE full_path LIKE CONCAT(#{fullPath}, '%')
    </select>

    <select id="selectAllByStatus" resultType="com.galaxy.framework.aquarius.entity.Department" parameterType="string">
        SELECT * FROM sys_department WHERE status=#{status}
    </select>

    <select id="selectAllOrderByFullPath" resultType="com.galaxy.framework.aquarius.entity.Department">
        SELECT * FROM sys_department ORDER BY full_path
    </select>
</mapper>