<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxy.framework.aquarius.mapper.ResourceMapper" >
    <resultMap id="BaseResultMap" type="com.galaxy.framework.aquarius.entity.Resource" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, code, name, parent_code, status, creator, created, modifier, modified, version
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from sys_resource
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from sys_resource
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.galaxy.framework.aquarius.entity.Resource" >
        insert into sys_resource (id, code, name,
        parent_code, status, creator,
        created, modifier, modified,
        version)
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{parentCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
        #{created,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP},
        #{version,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.galaxy.framework.aquarius.entity.Resource" >
        insert into sys_resource
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="code != null" >
                code,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="parentCode != null" >
                parent_code,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="creator != null" >
                creator,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="modifier != null" >
                modifier,
            </if>
            <if test="modified != null" >
                modified,
            </if>
            <if test="version != null" >
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null" >
                #{parentCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null" >
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null" >
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modified != null" >
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null" >
                #{version,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.framework.aquarius.entity.Resource" >
        update sys_resource
        <set >
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null" >
                parent_code = #{parentCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null" >
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modified != null" >
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.galaxy.framework.aquarius.entity.Resource" >
        update sys_resource
        set code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        parent_code = #{parentCode,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR},
        creator = #{creator,jdbcType=VARCHAR},
        created = #{created,jdbcType=TIMESTAMP},
        modifier = #{modifier,jdbcType=VARCHAR},
        modified = #{modified,jdbcType=TIMESTAMP},
        version = #{version,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 自定义 -->
    <select id="findByPosition" parameterType="string" resultType="com.galaxy.framework.aquarius.entity.Resource">
    SELECT t1.* FROM sys_resource t1
    INNER JOIN sys_resource_position t2 ON t1.resource_code=t2.resource_code
    WHERE t2.position_code=#{positionCode}
  </select>
</mapper>