<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="outer/header"></div>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="outer/left"></div>
        <div th:replace="outer/top"></div>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>部门
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="tree">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>编辑
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form id="departmentForm" class="form-horizontal form-label-left" novalidate="novalidate" onsubmit="return false">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">区域 <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <select id="location" class="form-control col-md-5 col-xs-12" name="location"
                                                required="required">
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="departmentCode">上级
                                        <span
                                                class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <select id="departmentCode" class="form-control col-md-5 col-xs-12"
                                                name="departmentCode" required="required">
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">名称 <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <input id="name" class="form-control col-md-5 col-xs-12" name="name"
                                               required="required" type="text"/>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button id="reset" type="button" class="btn btn-info" onclick="resetForm()">重置
                                        </button>
                                        <button id="submit" type="button" class="btn btn-primary"
                                                onclick="submitForm()">保存
                                        </button>
                                        <button id="delete" type="button" class="btn btn-danger"
                                                onclick="deleteDepartment()">删除
                                        </button>
                                        <button id="reuse" type="button" class="btn btn-warn"
                                                onclick="reuseDepartment()">启用
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
</body>
<div th:replace="outer/footer"></div>
<script src="js/system/department.js"></script>
</html>